@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/Open Sans - Regular.ttf");
}


* {
    box-sizing: border-box;
    font-family: Open Sans Regular, sans-serif;
  }

  html, body {
    height: 100%;
    background: #e0e0e0;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  a {
    text-decoration: none;
    color: #0080FF;
  }

  .title
  {
      font-size: 36px;
      color: #191919;
      margin: 20px 0;
  }

  section
  {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
  }

  .row
  {
      display: block;
      width: 100%;
      text-align: center;
      padding: 50px;
  }

  .pretitle
  {
      display: block;
      font-size: 28px;
      color: #777;
      margin: 20px 0;

  }

  form a
  {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    margin-left: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
  }

  form a:hover
  {
      background: #f0f0f0;
  }